<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="2.0.0" targetFramework="net452" />
  <package id="NotificationsExtensions.Win10" version="14332.0.2" targetFramework="net461" />
  <package id="XInput.Wrapper" version="0.3.1" targetFramework="net452" />
</packages>